{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('nav ul li:eq(5)').toggleClass("active");
	});
</script>
<div class="col-md-12">
	<div class="menu col-md-2">
		<ul id="community-menu" class="nav nav-pills nav-stacked">
			<li><a href="{% url 'freeboard_list' %}?page=1">자유게시판</a></li>
			<li><a href="{% url 'community_scenario_list' %}?page=1">시나리오 보고서</a></li>
		</ul>
	</div>

{% block community_content %}
{% endblock community_content %}
</div>

{% endblock content %}
